doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="https://unpkg.com/mvp.css")
		title 채팅방
	body 
		header
			h1 채팅방
		main 
			div#welcome
				form
					input(type="text", placeholder="방이름", required)
					button 방 접속하기
				h4 Open Rooms: 
				ul
			div#room 
				h3
				ul 
				form#name
					input(placeholder="닉네임을 입력하세요", required, type="text")
					button 닉네임 정하기
				form#msg
					input(type="text", placeholder="메세지를 입력하세요", required)
					button 메세지 보내기
		script(src="/socket.io/socket.io.js")
		script(src="/public/js/app.js")